<img src="../../files/logo.png" width=200>

# Data Frames

## Recordando un poco los diccionarios

In [2]:
ID = [100, 200,300,400,500]
nombres = ["David", "Andrea", "Hobbs", "Kamilo", "Fernanda"]
edad = [33, 12, 78, 22, 3]
letraFav = ["G", "Q", "H", "O", "M"]

In [37]:
dicc = {"key": ID,"nombres":nombres, "edades": edad,"letraFav": letraFav,}

In [38]:
print(dicc)

{'key': [100, 200, 300, 400, 500], 'nombres': ['David', 'Andrea', 'Hobbs', 'Kamilo', 'Fernanda'], 'edades': [33, 12, 78, 22, 3], 'letraFav': ['G', 'Q', 'H', 'O', 'M']}

## Importando Pandas

In [39]:
import pandas as pd

In [40]:
pd?

In [41]:
pd.Series(dicc)

key                        [100, 200, 300, 400, 500]
nombres     [David, Andrea, Hobbs, Kamilo, Fernanda]
edades                           [33, 12, 78, 22, 3]
letraFav                             [G, Q, H, O, M]
dtype: object

In [42]:
primerDataFrame = pd.DataFrame(dicc)

In [43]:
print(primerDataFrame)

   key   nombres  edades letraFav
0  100     David      33        G
1  200    Andrea      12        Q
2  300     Hobbs      78        H
3  400    Kamilo      22        O
4  500  Fernanda       3        M

### Operaciónes básicas

In [45]:
primerDataFrame

   key   nombres  edades letraFav
0  100     David      33        G
1  200    Andrea      12        Q
2  300     Hobbs      78        H
3  400    Kamilo      22        O
4  500  Fernanda       3        M

In [46]:
primerDataFrame.describe()

              key     edades
count    5.000000   5.000000
mean   300.000000  29.600000
std    158.113883  29.279686
min    100.000000   3.000000
25%    200.000000  12.000000
50%    300.000000  22.000000
75%    400.000000  33.000000
max    500.000000  78.000000

In [47]:
primerDataFrame.max()

key            500
nombres     Kamilo
edades          78
letraFav         Q
dtype: object

In [48]:
primerDataFrame.sum()

key                                   1500
nombres     DavidAndreaHobbsKamiloFernanda
edades                                 148
letraFav                             GQHOM
dtype: object

### Accediendo a la información

In [49]:
# Tomando una columna como un pd.Series
primerDataFrame["edades"]

0    33
1    12
2    78
3    22
4     3
Name: edades, dtype: int64

In [50]:
# Tomando una columna como un pd.Series, tomando una fila como el índice del Series
primerDataFrame["edades"][4]

3

In [52]:
## DUDA 
primerDataFrame.groupby('nombres')['key'].sum()

nombres
Andrea      200
David       100
Fernanda    500
Hobbs       300
Kamilo      400
Name: key, dtype: int64

In [64]:
primerDataFrame[["letraFav"]]

  letraFav
0        G
1        Q
2        H
3        O
4        M

Una escuela ha solicitado tener un DataFrames de uno de sus grupos para ver si es más sencillo tener almacenada la información. Nos ha pasado una lista con el bombre de sus alumnos sin embargo faltan datos que deberemos agregar. 

- Genera una lista del 1 al 10 que funcionará como identificador 
- Genera una lista aleatoria del 1 al 10 para  representar la calificación de los alumnos. 

Una vez hecho esto guarda estás tres listas en un diccionario y después transfórmalo a un dataFrame

In [65]:
alumnos = ["juan","pablo","maria","Estela","Pedro","Gerardo","Salo","Andy","Langarica","david"]

In [66]:
import random
calif=[]
for a in range(0,10,1):
    aa=random.randrange(0, 10)
    calif.append(aa)
print(calif)

[6, 2, 9, 6, 2, 8, 6, 9, 2, 4]

In [78]:
identificador=list(range(0,10,1))

In [79]:
salon1 = {"id": identificador, "nombre": alumnos,"calificacion": calif}

In [80]:
import pandas as pd

In [81]:
escuelaDataFrame = pd.DataFrame(salon1)

In [83]:
escuelaDataFrame

   id     nombre  calificacion
0   0       juan             6
1   1      pablo             2
2   2      maria             9
3   3     Estela             6
4   4      Pedro             2
5   5    Gerardo             8
6   6       Salo             6
7   7       Andy             9
8   8  Langarica             2
9   9      david             4