1) Genere una lista que contenga 100 numeros de la siguiente forma :
    0 , 2 , 4 , 6 , 8, 10 , 12 , ... 200

In [25]:
a=list(range(0,201,2))
print(a)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

2) Agrega los primeros 10 elementos a una nueva lista

In [40]:
lista=[]
x=0
while x<10:
    x=x+1
    lista.append(a[x])
print(lista)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

3) Crea un diccionario con la lista de claves únicas y el que se te da a continuacion:

In [142]:
alumnos = ["juan","pablo","maria","Estela","Pedro","Gerardo","Salo","Andy","Langarica","david"]
escuela={"clave":lista,
        "nombre":alumnos}
print(escuela)

{'clave': [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], 'nombre': ['juan', 'pablo', 'maria', 'Estela', 'Pedro', 'Gerardo', 'Salo', 'Andy', 'Langarica', 'david']}

In [57]:
escuela["nombre"][2],escuela["clave"][2]

('maria', 6)

In [144]:
import random

In [145]:

lista1=[]
for a in range(0,10,1):
    aa=random.randrange(0, 10)
    lista1.append(aa)
print(lista1)

[8, 2, 7, 9, 2, 5, 4, 8, 1, 9]

In [60]:

lista2=[]
for a in range(0,11,1):
    ab=random.random()
    lista2.append(ab)
print(lista2)

[0.3747062369799924, 0.8462053910057902, 0.023130246967781765, 0.6151587084386761, 0.3826823833698133, 0.2576377008923961, 0.6100687609183869, 0.6939170251134391, 0.305708383477063, 0.11794468507316946, 0.4128889701499625]

4) Crea dos listas aleatorias con 10 elementos:

    4.1) La primera lista reflejara la calificacion de los alumnos ya la formula para hacerlo es : 
    random.randrange(0, 10)
    4.2 ) La segunda lista erá la probabilidad del alumno de pasar la materia y la formula es : 
    random.random()
    NOTA: recuerda importar random ( import random )

5) Crea una funcion que te regrese el nombre del alumno, la calificacion que saco y la palabra "correcto" si la probabilidad de que pasara erá arriba de .60 y paso o era menor de .60 y reprobo (menos de 6) , o que imprima la palabra "incorrecto" si la probabilidad era arriba de .60 y reprobo o era menor de .60 y aprobo.

In [73]:
def proba (alumnos,lista1,lista2):
    listafinal=[]
    for x,y,z in zip(alumnos,lista1,lista2):
        if z>=.60 and y>=6:
            palabra=("corecto", y,x)
            listafinal.append(palabra)
        else:
            palabra=("incorrecto",y,x)
            listafinal.append(palabra)
            
    return listafinal

In [74]:
proba(alumnos,lista1,lista2)

[('incorrecto', 9, 'juan'),
 ('incorrecto', 5, 'pablo'),
 ('incorrecto', 2, 'maria'),
 ('incorrecto', 4, 'Estela'),
 ('incorrecto', 7, 'Pedro'),
 ('incorrecto', 1, 'Gerardo'),
 ('corecto', 7, 'Salo'),
 ('corecto', 9, 'Andy'),
 ('incorrecto', 0, 'Langarica'),
 ('incorrecto', 3, 'david')]

NameError: name 'bbcito' is not defined

6) Agrega la listas 4.1 y 4.2 a tu diccionario con las llaves "calificaciones" y "probabilidad" correspondientemente.

In [79]:
escuela.update({"clave":lista,
        "nombre":alumnos,
              "calififaciones":lista1,
              "probabilidad":lista2})

In [80]:
escuela

{'clave': [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 'nombre': ['juan',
  'pablo',
  'maria',
  'Estela',
  'Pedro',
  'Gerardo',
  'Salo',
  'Andy',
  'Langarica',
  'david'],
 'calififaciones': [9, 5, 2, 4, 7, 1, 7, 9, 0, 3, 2],
 'probabilidad': [0.3747062369799924,
  0.8462053910057902,
  0.023130246967781765,
  0.6151587084386761,
  0.3826823833698133,
  0.2576377008923961,
  0.6100687609183869,
  0.6939170251134391,
  0.305708383477063,
  0.11794468507316946,
  0.4128889701499625]}

7)La escuela decidio que a todas las calificaciones se le sumaran 2 puntos, por ejempplo si el alumno tiene 8 pasara a tener 10, pero un alumno no puede tener más de 10. ( si tiene 10 se queda en 10 y si tiene 9 se queda en 10 ).
Modificar la llave calificaciones con ese nuevo rubro

In [89]:
listacali=[]
for x in lista1:
    if x<=8:
        x=x+2
        listacali.append(x)
    elif x==9:
        x=x+1
        listacali.append(x)
    else:
        x=x+0
        listacali.append(x)
    print(x)

10
7
4
6
9
3
9
10
2
5
4

8) Saca el promedio, calificación mínima , calificacion máxima de esta escuela

In [93]:
prom=sum(listacali)/len(listacali)
minimo=min(listacali)
maximo=max(listacali)
print(prom)
print(minimo)
print(maximo)

6.2727272727272725
2
10

9) Comparacion con las nuevas escuelas : 
calificaciones_nueva = [8,7,9,10,4,7,9,10,10,10]
alumnos_nueva = ["juan","pablo","maria","Estela","Pedro","Gerardo","Salo","Andy","Langarica","david"] 

Saca las operaciones básicas de : promedio, media, minima, etc. Y gráfica esta nueva escuela con la calificacion de la vieja

In [109]:
C = [8,7,9,10,4,7,9,10,10,10,9] 
alumnos_nueva = ["juan","pablo","maria","Estela","Pedro","Gerardo","Salo","Andy","Langarica","david"]
listaescuela2=[]
for x in C:
    listaescuela2.append(x)
promedio2=sum(listaescuela2)/len(listaescuela2)
minima2=min(listaescuela2)
maxima2=max(listaescuela2)
print(promedio2)
print(minima2)
print(maxima2)

8.454545454545455
4
10

In [110]:
import numpy as np

In [115]:
arr1=np.array(C)
arr2=np.array(lista1)
arreglo=arr1+arr2
promedio=sum(arreglo)/len(arreglo)

In [118]:
arreglo/2

array([8.5, 6. , 5.5, 7. , 5.5, 4. , 8. , 9.5, 5. , 6.5, 5.5])

In [125]:
%matplotlib inline
%pylab
C = [8,7,9,10,4,7,9,10,10,10] 
alumnos_nueva = ["juan","pablo","maria","Estela","Pedro","Gerardo","Salo","Andy","Langarica","david"]
barh(alumnos_nueva,C)

Using matplotlib backend: MacOSX
Populating the interactive namespace from numpy and matplotlib

In [136]:
#Calificaciones de Gerardo en una materia por año
año =[2010,2011,2012,2013,2014,2015,2016,2017,2018,2019]
califiaciones = [8,7,9,10,4,7,9,10,10,10]
plot(año,califiaciones,"o")
xlabel("AÑO")
ylabel("Cali")
grid(True)

In [139]:
from pandas import DataFrame
import pandas as pd

In [146]:
hola=pd.DataFrame(escuela)

In [147]:
hola

   clave     nombre
0      2       juan
1      4      pablo
2      6      maria
3      8     Estela
4     10      Pedro
5     12    Gerardo
6     14       Salo
7     16       Andy
8     18  Langarica
9     20      david

In [148]:
archivo=open("tipoUSD.txt","r")
datos=archivo.read()
archivo.close
dolares=datos.split(",")
tipoUSD=[float(n) for n in dolares]

In [149]:
tipoUSD

[17.2487,
 17.3529,
 17.3456,
 17.4411,
 17.6568,
 17.9283,
 17.9304,
 17.9119,
 17.85,
 17.9121,
 18.2108,
 18.2327,
 18.1947,
 18.608,
 18.5084,
 18.428,
 18.5352,
 18.4715,
 18.453,
 18.2906,
 18.1935,
 18.4902,
 18.4537,
 18.1891,
 18.3748,
 18.6959,
 18.7818,
 18.8089,
 19.1754,
 19.0392,
 18.8471,
 18.8148,
 18.3895,
 18.1439,
 18.2762,
 18.0568,
 18.1948,
 18.2893,
 18.168,
 18.1706,
 18.102,
 17.9432,
 17.8561,
 17.8971,
 17.7723,
 17.7526,
 17.9044,
 17.7523,
 17.8601,
 17.7002,
 17.7691,
 17.926,
 17.9308,
 17.4034,
 17.2995,
 17.3361,
 17.5273,
 17.461,
 17.4015,
 17.2509,
 17.237,
 17.3338,
 17.4484,
 17.7252,
 17.7286,
 17.893,
 17.7391,
 17.6452,
 17.5719,
 17.49,
 17.388,
 17.5669,
 17.4598,
 17.2825,
 17.3078,
 17.4202,
 17.4359,
 17.5866,
 17.4298,
 17.3993,
 17.2125,
 17.1767,
 17.2279,
 17.5234,
 17.7358,
 17.7866,
 17.9204,
 18.1033,
 18.0205,
 17.9549,
 17.9915,
 18.1562,
 18.1795,
 18.3217,
 18.3761,
 18.5465,
 18.3826,
 18.4444,
 18.4694,
 18.452,
 18.4572,
 18.4527,
 18.4777,
 18.4118,
 18.5299,
 18.6097,
 18.6283,
 18.5889,
 18.5067,
 18.1491,
 18.2742,
 18.5046,
 18.7915,
 18.9814,
 18.8672,
 18.9968,
 18.8527,
 18.6559,
 18.6444,
 18.5325,
 18.3207,
 18.8716,
 19.1283,
 18.9113,
 18.555,
 18.4646,
 18.309,
 18.3858,
 18.7536,
 18.8161,
 18.8607,
 18.5991,
 18.4597,
 18.3006,
 18.3937,
 18.3061,
 18.492,
 18.4879,
 18.5719,
 18.5729,
 18.6022,
 18.6089,
 18.7569,
 18.8114,
 18.8602,
 18.8979,
 18.7837,
 18.8504,
 18.8966,
 18.9117,
 18.8612,
 18.8691,
 18.5716,
 18.3842,
 18.3479,
 18.2678,
 18.2455,
 18.0363,
 17.9869,
 18.2598,
 18.0832,
 18.2674,
 18.3023,
 18.3202,
 18.4971,
 18.446,
 18.283,
 18.5773,
 18.7953,
 18.8611,
 18.8523,
 18.6589,
 18.5581,
 18.3524,
 18.3689,
 18.5427,
 18.8451,
 19.0646,
 19.152,
 19.2275,
 19.2514,
 19.6097,
 19.777,
 19.8394,
 19.5965,
 19.7211,
 19.8322,
 19.5044,
 19.5002,
 19.4086,
 19.3776,
 19.3211,
 19.2138,
 19.2554,
 19.2433,
 19.2994,
 18.8786,
 18.9531,
 18.9622,
 19.0399,
 19.0046,
 18.8723,
 18.6726,
 18.5894,
 18.5945,
 18.6481,
 18.5658,
 18.5147,
 18.6485,
 18.8443,
 18.7304,
 18.8887,
 19.1306,
 19.2014,
 19.0792,
 18.6192,
 18.5089,
 19.925,
 20.4812,
 21.0511,
 20.8729,
 20.349,
 20.2884,
 20.1898,
 20.4193,
 20.5205,
 20.6901,
 20.7051,
 20.6475,
 20.5521,
 20.6225,
 20.5155,
 20.7488,
 20.6149,
 20.5927,
 20.3863,
 20.2967,
 20.4162,
 20.3305,
 20.2567,
 20.2226,
 20.5973,
 20.428,
 20.4098,
 20.43,
 20.4921,
 20.7179,
 20.6271,
 20.6445,
 20.7052,
 20.7314,
 20.664,
 20.6194,
 20.7323,
 20.852,
 21.3799,
 21.3661,
 21.3144,
 21.3219,
 21.6168,
 21.9076,
 21.7204]

In [158]:
dataf=pd.read_csv("InformacionProyecto.csv", header=0)

In [159]:
dataf

     Salario        Bonos  Horas_Extra
0      59064   966.313176           36
1      64822  7786.323346           28
2      37167  9835.592163           31
3      53216  2546.274946           45
4      21858  6698.275287           27
5      37356  9166.383770           39
6      42815  9461.007841           41
7      78674  8695.326318           40
8      54823  5763.437471           36
9      96824  5086.908680           39
10    106354  6662.342316           24
11     71125  4135.827435           23
12     12431  3889.697236           37
13     52897  9534.381732           31
14    113641  9931.203119           37
15     86614  6273.813821           23
16    101760  7183.933303           32
17     43040  1653.385687           42
18    112423  2014.336085           28
19     30424  7731.257587           42
20     84761  5748.968305           24
21    117736  4382.555447           24
22    102093  2450.451866           29
23    119340  5098.943093           44
24     46094  5826.113817           25
25    101649  5918.541516           36
26     48909  6194.991838           25
27     12471   343.915834           35
28     24440  5660.819015           43
29    115770  8827.809877           50
..       ...          ...          ...
110    83416  7504.365809           32
111    84860  9134.419660           32
112    44677  2017.539218           35
113    45828  2211.653108           28
114    68237  4486.426994           42
115    87089  5502.978181           24
116    94534   160.731460           47
117   108326  2590.770101           30
118    12195  5769.894827           42
119    78314   462.831998           28
120    76092  5263.340460           46
121   111210  3376.445823           35
122    77151  3518.746152           41
123    85156  7068.919755           24
124   107207  9325.422356           32
125   101440  8443.345943           35
126    45646  9572.786902           38
127    71580  1247.538739           41
128    20294  6226.285485           37
129    64980  8152.583051           37
130    90548  1142.528773           31
131    33547  3953.756979           40
132   107095  4358.876680           30
133    44954  8333.552619           27
134    22803  2892.622939           31
135     8009  5327.860771           21
136     9987  7285.833644           40
137   114869  6150.419087           35
138    74485  7508.626436           37
139    73680  1246.369881           31

[140 rows x 3 columns]

In [172]:
alumnos_nueva = ["Juan","aablo","Maria","Estela","Pedro","Gerardo","Salo","Andy","Langarica","david"]
contador=0
for x in alumnos_nueva:
    print(x.capitalize().startswith("A"))
    if x.capitalize().startswith("A"):
        contador=contador +1
    else:
        contador=contador
print(contador)

False
True
False
False
False
False
False
True
False
False
2

In [176]:
a=93939.9393030393

resultado2=print("%.2f" % a)

93939.94