In [5]:
%pylab

Using matplotlib backend: Qt5Agg
Populating the interactive namespace from numpy and matplotlib

Una bandeja de 30 huevos cuesta $2.50 ¿Cuánto costaráuna docena?

In [2]:
# entrada
h1=30
co1=2.50
h2=12
# cálculo
co2=h2*co1/h1
# Salida
print("El costo de una docena es huevos \n",co2)

El costo de una docena es huevos
 1.0

Un vehículo tarda dos horas y media en recorrer una distancia a una velocidad promedio de 80 km. por hora. ¿Cuánto tardará a una velocidad de 100 km. por hora en recorrer la misma distancia?

In [3]:
# entrada
t1=2.5
v1=80
v2=100
# cálculo INVERSA
t2=t1*v1/v2
# salida
print("El tiempo que tarda es:", t2, "horas")

El tiempo que tarda es: 2.0 horas

En el mes de julio a la joven Isui la tarjeta de crédito Bancomer le cobróel 3.83% de intereses (tasa mensual) mientras que la tarjeta de crédito Banamex le cobró el 1.61% de intereses (tasa mensual). ¿Cuál es la razón entre los intereses de Bancomer y el de Banamex?

In [4]:
# entrada
b1=3.83
b2=1.61
# cálculo
r=b1/b2
# salida
print("La razón entre los intereses de Bancomer y Banamex es", r)

La razón entre los intereses de Bancomer y Banamex es 2.3788819875776395

Un coche que va a 100 km por hora necesita 20 minutos para recorrer la distancia que hay entre dos pueblos. ¿A quévelocidad debería ir el coche para hacer el recorrido en una hora y 10 minutos?

In [5]:
# entrada 
v1=100
t1=20
t2=70
# cálculo
v2= t1*v1/t2
# salida
print("El cohe deberia ir a", v2, "km/h")

El cohe deberia ir a 28.571428571428573 km/h

Si 1 y media gallinas producen 1 y medio huevos en un día y medio, ¿cuántos huevos produce una gallina en tres días?

In [6]:
# entrada
g1=1.5
h1=1.5
d1=1.5
g2=1
d2=3
# cálculo
h2=(g1/g2)*(d1/d2)
r=h1/h2
# salida
print("producirá", r, "huevos en tres dias")

producirá 2.0 huevos en tres dias

In [7]:
# funcion round(n,d)
m=3.6579
print("con 3 decimales",round(m,3))
print("con 2 decimales",round(m,2))
print("con 1 decimales", round(m,1))

con 3 decimales 3.658
con 2 decimales 3.66
con 1 decimales 3.7

In [8]:
#entrada
tasa=.16
monto=2500
#cálculo
iva=monto*tasa
#salida
print("El iva del monto $ {} es {}".format(monto,iva))
print("El iva del monto $", monto, "es", iva)

El iva del monto $ 2500 es 400.0
El iva del monto $ 2500 es 400.0

In [9]:
#entrada
tasa1=input("Dame la tasa \n")
monto1=input("Dame el monto \n")
tasa2=float(tasa1)
monto2=float(monto1)
type(tasa2)

Dame la tasa
.16
Dame el monto
2500

float

In [10]:
type(tasa1)

str

In [11]:
a=4.5
type(4.5)

float

In [12]:
#entrada
n1=int(input("Dame un número \n"))
n2=int(input("Dame otro número \n"))
#cálculo
nt=n1+n2
print("La suma de {} y {} es {}".format(n1,n2,nt))

Dame un número
4
Dame otro número
5
La suma de 4 y 5 es 9

In [13]:
#entrada
tasa1=float(input("Dame la tasa"))
monto1=float(input("Dame el monto"))
# cálculos
iva1=tasa1*monto1
# salida
print("El iva del monto $ {} es {}".format(monto1,iva1))

Dame la tasa.16
Dame el monto2500
El iva del monto $ 2500.0 es 400.0

In [14]:
def iva3(t,m):
    r=t*m
    return r

In [15]:
iva3(.16,2345)

375.2

Define una función cuya entrada sean 4 números como resultado indicar cero si C +D es cero o negativo, en otro caso resuelve: A+B / C+D

In [16]:
A=int(input("Dame un número"))
B=int(input("Dame un número"))
C=int(input("Dame un número"))
D=int(input("Dame un número"))
if C+D==0:
    print("C+D es cero")
else:
    if C+D<0:
        print("C+D es negativo")
    else:
        s=(A+B)/(C+D)
        print("El resultado es \n",s)

Dame un número5
Dame un número5
Dame un número5
Dame un número5
El resultado es
 1.0

Define una función tal que dados los lados de un rectángulo entregue el perímetro Recuerda: Perímetro = 2(lado A) + 2(lado B)
Utilizando la función anterior determina los resultados para los siguientes casos a) ladoA=7 ladoB=2 b) ladoA=3 ladoB=5

In [17]:
def pr(ladoA,ladoB): #perímetro de un rectángulo
    a=ladoA*2
    b=ladoB*2
    return (a+b)

In [18]:
pr(7,2)

18

In [19]:
pr(3,5)

16

Se sabe que la velocidad es función de la distancia y el tiempo, define una función que calcule la velocidad recibiendo distancia y tiempo.

In [1]:
def velocidad(d,t):
    v=d/t
    return (v)

In [2]:
dis=int(input("dame la distancia"))
tie=int(input("dame el tiempo"))
print("la velocidad es \n", velocidad(dis,tie))

dame la distancia10
dame el tiempo5
la velocidad es
 2.0

In [3]:
calif=int(input("Dame tu promedio final"))
if calif>=6: #prueba lógica
    print("aprobado") #verdadero
else:
    print("reprobado") # falso (no se cumple)

Dame tu promedio final5
reprobado

In [1]:
def pago(h):
    if h<=40:
        p=45*h
    else:
        e=h-40
        p=((h-e)*45)+(e*1.5*45)
    return p

In [2]:
pago(40)

1800

In [3]:
pago(41)

1867.5

Una aproximación racional de la constante Pi(la razón entre el perímetro de una circunferencia y su diametro) conocida por matemáticos chinos en el siglo V es 355/113

¿cuál es la diferencia entre el valor real de Pi y la aproximación mencionada?
¿qué valor es el mayor?

In [6]:
# entrada
pi
pch=355/113
# cálculo
d=pch-pi
print("El valor de pi %1.14f"%pi)
print("El valor de pi %1.14f"%pch)
print("La diferencia es %1.14f"%d)

El valor de pi 3.14159265358979
El valor de pi 3.14159292035398
La diferencia es 0.00000026676419

In [7]:
if pi>pch:
    print("pi es mayor")
else:
    print("pch es mayor")

pch es mayor

In [8]:
print("El valor de pi %1.14f"%pi)
print("El valor de pi %1.13f"%pi)
print("El valor de pi %1.12f"%pi)
print("El valor de pi %1.11f"%pi)
print("El valor de pi %1.10f"%pi)
print("El valor de pi %1.9f"%pi)
print("El valor de pi %1.8f"%pi)
print("El valor de pi %1.7f"%pi)
print("El valor de pi %1.6f"%pi)

El valor de pi 3.14159265358979
El valor de pi 3.1415926535898
El valor de pi 3.141592653590
El valor de pi 3.14159265359
El valor de pi 3.1415926536
El valor de pi 3.141592654
El valor de pi 3.14159265
El valor de pi 3.1415927
El valor de pi 3.141593

In [9]:
nombre=input("Dame tu nombre \n")
edad=int(input("Escribe tu edad \n"))
print("{} el doble de tu edad es {}".format(nombre,edad*2))

Dame tu nombre
ana
Escribe tu edad
17
ana el doble de tu edad es 34

In [10]:
def resultado(cf):
    if cf>=6:
        r="Aprobado"
    else:
        r="reprobado"
    return r

In [11]:
cf=float(input("Dame la calificación del alumno"))
print("El alumno está", resultado(cf))

Dame la calificación del alumno7.7
El alumno está Aprobado

Realiza un programa que calcule los impuestos a pagar de un sueldo en particular de acuerdo con los siguientes criterios:

si gana menos de 5,000----3%
Entre 5,000 y 10,000----10%
Entre 10,000 incluido y 20,000----15%
Mayores o iguales a 20,000----30%
Tu programa debera solicitar el sueldo a calcular

In [12]:
#Forma 1
sueldo=float(input("Dame el sueldo"))
if sueldo<5000:
    i=sueldo*.03
else:
    if sueldo>=5000 and sueldo<10000:
        i=sueldo*.1
    else:
        if sueldo>=10000 and sueldo<20000:
                i=sueldo*.15
        else:
            i=sueldo*.30
print("El impuesto que debe pagar por un sueldo ${} es de ${}".format(sueldo,i))

Dame el sueldo1600
El impuesto que debe pagar por un sueldo $1600.0 es de $48.0

In [13]:
#Forma 2
sueldo=float(input("Dame el sueldo"))
if sueldo<5000:
    i=sueldo*.03
else:
    if sueldo>=5000 and sueldo<10000:
        i=sueldo*.1
    else:
        if sueldo>=10000 and sueldo<20000:
                i=sueldo*.15
        else:
            i=sueldo*.30
print("El impuesto que debe pagar por un sueldo",sueldo,"es de $",i)

Dame el sueldo1600
El impuesto que debe pagar por un sueldo 1600.0 es de $ 48.0

In [14]:
#Forma 3
sueldo2=float(input("Dame tu sueldo"))
if sueldo2<5000:
    imp=sueldo2*.03
elif sueldo2<10000:
    imp=sueldo2*.1
elif sueldo2<20000:
    imp=sueldo2*.15
else:
    imp=sueldo2*.3
print("El impuesto que debe pagar por un sueldo",sueldo2,"es de $",imp)

Dame tu sueldo1600
El impuesto que debe pagar por un sueldo 1600.0 es de $ 48.0

In [15]:
def ppy (h,p): # h=horas, p=proyecto
    if p=="A" or p=="a":
        pago=h*120
    else:
        pago=h*180
    return pago

In [16]:
ppy(20,"a")

2400

In [17]:
ppy(10,"B")

1800

In [18]:
dado=randint(1,6,1)
if dado==1:
    reg="Computadora"
else:
    if dado==2:
        reg="Pantalla"
    else:
        if dado==3:
            reg="iPhone"
        else:
            if dado==4:
                reg="iPad PRO"
            else:
                if dado==5:
                    reg="Auto"
                else:
                    reg="Casa"
print("Tu regalo es",reg)

Tu regalo es Computadora

In [19]:
def ce(edad):
    if edad<3:
        cat="bebé"
    else:
        if edad<10:
            cat="peque"
        else:
            if edad<18:
                cat="adolescente"
            else:
                if edad<30:
                    cat="joven"
                else:
                    if edad<50:
                        cat="maduro"
                    else:
                        if edad<65:
                            cat="adulto"
                        else:
                            cat="tercera edad"
    return cat

In [20]:
ce(10)

'adolescente'

Tuplas

In [21]:
a=1,56,"hola","a","adiós",7
type(a)

tuple

In [22]:
a.count("hola")

1

In [23]:
a.index("hola")

2

In [24]:
a.index(1)

0

In [25]:
a[0:3] # [primero incluido:último no incluido]

(1, 56, 'hola')

In [27]:
b=(12,45,67,"excel","python")
type(b)

tuple

In [28]:
b[3:5]

('excel', 'python')

Textos

In [29]:
t1="Python me encanta"
type(t1)

str

In [30]:
t2=t1.upper()
t2

'PYTHON ME ENCANTA'

In [31]:
t3=t2.lower()
t3

'python me encanta'

In [32]:
t3.capitalize()

'Python me encanta'

In [33]:
t1.count("a")

2

In [34]:
t1.count("e")

2

In [35]:
t1.index("n")

5

In [36]:
t1[10:17]

'encanta'

In [37]:
t1.replace("e","E")

'Python mE Encanta'

Conjuntos

In [38]:
t1="Hola buenos dias"
l1=t1.split()
print(l1)

['Hola', 'buenos', 'dias']

In [39]:
l2=["Hola","buenos", "dias"]
print(l2)

['Hola', 'buenos', 'dias']

In [40]:
t2="naranja rojo azul amarillo naranja rojo"
t3="rosa azul rojo verde gris rosa morado"
t4="naranja azul gris negro azul gris"
l3=t2.split()
l4=t3.split()
l5=t4.split()
print(l3)
print(l4)
print(l5)

['naranja', 'rojo', 'azul', 'amarillo', 'naranja', 'rojo']
['rosa', 'azul', 'rojo', 'verde', 'gris', 'rosa', 'morado']
['naranja', 'azul', 'gris', 'negro', 'azul', 'gris']

In [41]:
c1=set(l3) 
c2=set(l4)
c3=set(l5)
print(c1)
print(c2)
print(c3)

{'amarillo', 'azul', 'rojo', 'naranja'}
{'rojo', 'rosa', 'azul', 'verde', 'morado', 'gris'}
{'azul', 'gris', 'negro', 'naranja'}

In [42]:
print("Num elemenento conjunto",len(c1)) 
print("Num elemenento conjunto",len(c2))
print("Num elemenento conjunto",len(c3))

Num elemenento conjunto 4
Num elemenento conjunto 6
Num elemenento conjunto 4

In [43]:
print("num elemento lista l3",len(l3))
print("num elemento lista l4",len(l4))
print("num elemento lista l5",len(l5))

num elemento lista l3 6
num elemento lista l4 7
num elemento lista l5 6

In [44]:
#unión

c1c2=c1|c2
print(c1c2)
print(len(c1c2))

{'rojo', 'rosa', 'azul', 'verde', 'morado', 'amarillo', 'gris', 'naranja'}
8

In [45]:
#forma 2
c1.union(c2)

{'amarillo', 'azul', 'gris', 'morado', 'naranja', 'rojo', 'rosa', 'verde'}

In [46]:
#intersección
c1&c2

{'azul', 'rojo'}

In [47]:
#forma 2
c1.intersection(c2)

{'azul', 'rojo'}

In [48]:
#diferencia 
c1-c2 #no es conmutativa

{'amarillo', 'naranja'}

In [49]:
#forma 2
c1.difference(c2)

{'amarillo', 'naranja'}

función range

In [50]:
r1=range(2,41,2) #inicial_incluido, final_no_incluido, incremento
print(list(r1))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [51]:
r2=range(3,61,3)
print(list(r2))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [52]:
list(range(1,21,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [53]:
r4=list(range(7,71,7))
print(r4)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

conj7-multiplos de 7

conj2-multiplos de 2

conj5-multiplos de 5

¿Cuál es el conjunto de los números que son múltiplos de 5 y de 7?

¿Cuál es el conjunto de los números que son múltiplos de 2 y de 5?

Determina cuántos son

In [54]:
l7=list(range(7,211,7))
print(l7)
l2=list(range(2,61,2))
print(l2)
l5=list(range(5,151,5))
print(l5)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150]

In [55]:
conj7=set(l7)
conj2=set(l2)
conj5=set(l5)
print(conj7)
print(conj2)
print(conj5)

{133, 7, 140, 14, 147, 21, 154, 28, 161, 35, 168, 42, 175, 49, 182, 56, 189, 63, 196, 70, 203, 77, 210, 84, 91, 98, 105, 112, 119, 126}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60}
{130, 5, 135, 10, 140, 15, 145, 20, 150, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125}

In [56]:
print(len(conj7))
print(len(conj2))
print(len(conj5))

30
30
30

In [57]:
c7c5=conj7&conj5
print(c7c5)

{105, 35, 140, 70}

In [58]:
c2c5=conj2&conj5
print(c2c5)

{40, 10, 50, 20, 60, 30}

Instrucciones repetitivas

In [59]:
n=5
i=0
while i<n:
    print("El valor de i es",i)
    i=i+1 #incrementar i

El valor de i es 0
El valor de i es 1
El valor de i es 2
El valor de i es 3
El valor de i es 4

In [60]:
prom=randint(1,11,20)
print(prom)
print(len(prom))

[7 7 1 4 9 2 8 6 2 8 8 2 4 9 8 6 1 6 2 2]
20

In [61]:
i=0
while i<len(prom):
    print("La calificación del alumno",i+1,"es",prom[i])
    i=i+1

La calificación del alumno 1 es 7
La calificación del alumno 2 es 7
La calificación del alumno 3 es 1
La calificación del alumno 4 es 4
La calificación del alumno 5 es 9
La calificación del alumno 6 es 2
La calificación del alumno 7 es 8
La calificación del alumno 8 es 6
La calificación del alumno 9 es 2
La calificación del alumno 10 es 8
La calificación del alumno 11 es 8
La calificación del alumno 12 es 2
La calificación del alumno 13 es 4
La calificación del alumno 14 es 9
La calificación del alumno 15 es 8
La calificación del alumno 16 es 6
La calificación del alumno 17 es 1
La calificación del alumno 18 es 6
La calificación del alumno 19 es 2
La calificación del alumno 20 es 2

In [62]:
i=0
while i<len(prom):
    if prom[i]<=6:
        r="Reprobado"
    else:
        r="Aprobado"
    print ("El alumno",i+1,"está",r)
    i=i+1

El alumno 1 está Aprobado
El alumno 2 está Aprobado
El alumno 3 está Reprobado
El alumno 4 está Reprobado
El alumno 5 está Aprobado
El alumno 6 está Reprobado
El alumno 7 está Aprobado
El alumno 8 está Reprobado
El alumno 9 está Reprobado
El alumno 10 está Aprobado
El alumno 11 está Aprobado
El alumno 12 está Reprobado
El alumno 13 está Reprobado
El alumno 14 está Aprobado
El alumno 15 está Aprobado
El alumno 16 está Reprobado
El alumno 17 está Reprobado
El alumno 18 está Reprobado
El alumno 19 está Reprobado
El alumno 20 está Reprobado

In [63]:
num1=randint(100,500,20)
num2=randint(10,50,20)
print("La lista 1 \n",num1)
print("La lista 2 \n",num2)

La lista 1
 [239 264 445 110 130 478 277 424 205 225 410 313 407 274 175 152 204 444
 366 172]
La lista 2
 [17 16 41 39 36 31 44 18 24 22 12 17 16 31 13 10 15 24 22 49]

In [64]:
i=0
while i<len(num1):
    print("la resta de",num1[i],"menos",num2[i],"es",num1[i]-num2[i])
    i=i+1

la resta de 239 menos 17 es 222
la resta de 264 menos 16 es 248
la resta de 445 menos 41 es 404
la resta de 110 menos 39 es 71
la resta de 130 menos 36 es 94
la resta de 478 menos 31 es 447
la resta de 277 menos 44 es 233
la resta de 424 menos 18 es 406
la resta de 205 menos 24 es 181
la resta de 225 menos 22 es 203
la resta de 410 menos 12 es 398
la resta de 313 menos 17 es 296
la resta de 407 menos 16 es 391
la resta de 274 menos 31 es 243
la resta de 175 menos 13 es 162
la resta de 152 menos 10 es 142
la resta de 204 menos 15 es 189
la resta de 444 menos 24 es 420
la resta de 366 menos 22 es 344
la resta de 172 menos 49 es 123

In [65]:
nom1="Ana Andrea Claudia Gonzalo Rodrigo Paola"
nom=nom1.split()
edad=randint(18,21,6)
print("Lista de nombres:",nom)
print("Lista de edades:",edad)

Lista de nombres: ['Ana', 'Andrea', 'Claudia', 'Gonzalo', 'Rodrigo', 'Paola']
Lista de edades: [18 18 20 18 18 19]

In [67]:
i=0
while i<len(nom):
    print(nom[i],"tiene",edad[i],"años")
    i=i+1

Ana tiene 18 años
Andrea tiene 18 años
Claudia tiene 20 años
Gonzalo tiene 18 años
Rodrigo tiene 18 años
Paola tiene 19 años

In [66]:
#listas vacias
prueba=[]
prueba.append(5)
prueba

[5]

In [68]:
#Define una función que calcule  el IVA y como entrada pida una lista de montos
monto=randint(5000,10000,100)

In [69]:
def iva(monto):
    i=0
    sal=[]
    while i<len(monto):
        r=round(monto[i]*.16,2)
        sal.append(r)
        i=i+1
    return sal

In [70]:
print("La lista de ivas es:",iva(monto))

La lista de ivas es: [1272.96, 1068.96, 1416.8, 1412.0, 980.16, 1015.52, 992.0, 989.12, 1524.0, 1405.76, 885.28, 876.48, 1104.8, 1454.08, 1532.8, 1236.32, 954.4, 962.72, 1190.88, 826.4, 975.52, 1012.96, 1504.16, 1452.96, 812.64, 1537.28, 1251.68, 1232.32, 1507.04, 821.28, 1163.36, 1583.04, 1181.12, 1532.64, 1215.84, 1066.56, 1588.48, 1277.92, 1449.44, 1505.44, 1124.48, 1114.08, 905.6, 809.12, 1263.52, 1495.36, 1572.48, 1004.48, 890.4, 1399.04, 976.32, 915.68, 1515.2, 834.88, 1438.56, 1420.16, 866.24, 1192.32, 1044.0, 1580.8, 1326.72, 910.56, 1073.28, 918.88, 998.08, 875.04, 1400.64, 813.12, 1425.6, 1188.64, 1423.36, 1254.88, 1140.0, 1192.48, 1465.92, 1331.04, 1324.16, 1371.04, 1200.32, 1428.96, 874.4, 1298.56, 1428.64, 1380.96, 1444.16, 1531.36, 1558.56, 930.08, 948.8, 960.64, 952.0, 1398.88, 1496.48, 1306.72, 1124.96, 1550.56, 1250.56, 1530.4, 1055.68, 902.24]

In [71]:
t="python es un lenguaje de programación"
l=list(t)
print(l)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'e', 's', ' ', 'u', 'n', ' ', 'l', 'e', 'n', 'g', 'u', 'a', 'j', 'e', ' ', 'd', 'e', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'a', 'c', 'i', 'ó', 'n']

In [72]:
i=len(l)-1
while i<len(l):
    print("el elemento", i,"es",l[i])
    i=i-1

el elemento 36 es n
el elemento 35 es ó
el elemento 34 es i
el elemento 33 es c
el elemento 32 es a
el elemento 31 es m
el elemento 30 es a
el elemento 29 es r
el elemento 28 es g
el elemento 27 es o
el elemento 26 es r
el elemento 25 es p
el elemento 24 es
el elemento 23 es e
el elemento 22 es d
el elemento 21 es
el elemento 20 es e
el elemento 19 es j
el elemento 18 es a
el elemento 17 es u
el elemento 16 es g
el elemento 15 es n
el elemento 14 es e
el elemento 13 es l
el elemento 12 es
el elemento 11 es n
el elemento 10 es u
el elemento 9 es
el elemento 8 es s
el elemento 7 es e
el elemento 6 es
el elemento 5 es n
el elemento 4 es o
el elemento 3 es h
el elemento 2 es t
el elemento 1 es y
el elemento 0 es p
el elemento -1 es n
el elemento -2 es ó
el elemento -3 es i
el elemento -4 es c
el elemento -5 es a
el elemento -6 es m
el elemento -7 es a
el elemento -8 es r
el elemento -9 es g
el elemento -10 es o
el elemento -11 es r
el elemento -12 es p
el elemento -13 es
el elemento -14 es e
el elemento -15 es d
el elemento -16 es
el elemento -17 es e
el elemento -18 es j
el elemento -19 es a
el elemento -20 es u
el elemento -21 es g
el elemento -22 es n
el elemento -23 es e
el elemento -24 es l
el elemento -25 es
el elemento -26 es n
el elemento -27 es u
el elemento -28 es
el elemento -29 es s
el elemento -30 es e
el elemento -31 es
el elemento -32 es n
el elemento -33 es o
el elemento -34 es h
el elemento -35 es t
el elemento -36 es y
el elemento -37 es p

IndexError: list index out of range

In [73]:
prom=[5,6,7,8,9,10]
len(prom)

6

In [74]:
prom[len(prom)-1]

10

In [75]:
prom[5]

10

In [76]:
i=len(prom)-1
while i>=0:
    print("El elemento",i,"de esta lista es",prom[i])
    i=i-1

El elemento 5 de esta lista es 10
El elemento 4 de esta lista es 9
El elemento 3 de esta lista es 8
El elemento 2 de esta lista es 7
El elemento 1 de esta lista es 6
El elemento 0 de esta lista es 5

In [77]:
p=randint(40,111,25)
#inicializar variables
tf=0 #contador flaquitos
td=0
ti=0
ts=0
to=0
tp=0
i=0
cat=[] #esto es inicializar una lista vacia

while i<len(p):
    if p[i]<=45:
        ca="flaquito"
        tf=tf+1
    elif p[i]<=55:
        ca="delgado"
        td=td+1
    elif p[i]<=70:
        ca="ideal"
        ti=ti+1
    elif p[i]<=85:
        ca="sobrepeso"
        ts=ts+1
    elif p[i]<=100:
        ca="obeso"
        to=to+1
    else:
        ca="peligro"
        tp=tp+1
    cat.append(ca) #lista de salida
    i=i+1
print("lista de pesos en kg \n",p)
print("la lista de categorias \n",cat)
print("total de personas flaquitas \n",tf)
print("total de personas delgadas \n",td)
print("total de personas con peso ideal \n",ti)
print("total de personas con sobrepeso \n",ts)
print("total de personas obesas \n",to)
print("total de personas en peligro \n",tp)
print("total de personas \n",tf+td+ti+ts+to+tp)

lista de pesos en kg
 [ 77  69  83  82  59 101  64 104  78  78  41  66  56  42  66  76 109  69
  78  70  62  58  54 105  83]
la lista de categorias
 ['sobrepeso', 'ideal', 'sobrepeso', 'sobrepeso', 'ideal', 'peligro', 'ideal', 'peligro', 'sobrepeso', 'sobrepeso', 'flaquito', 'ideal', 'ideal', 'flaquito', 'ideal', 'sobrepeso', 'peligro', 'ideal', 'sobrepeso', 'ideal', 'ideal', 'ideal', 'delgado', 'peligro', 'sobrepeso']
total de personas flaquitas
 2
total de personas delgadas
 1
total de personas con peso ideal
 10
total de personas con sobrepeso
 8
total de personas obesas
 0
total de personas en peligro
 4
total de personas
 25

In [78]:
calif=[5,9,7,10,6]
por=[0.20,0.10,0.10,0.30,0.30]

In [79]:
i=0
pp=0
while i<len(calif):
    ppn=calif[i]*por[i]
    pp=pp+ppn #acumuladores
    i=i+1
print("El promedio final es",round(pp,2))

El promedio final es 7.4

In [80]:
#procedimiento con variables
th=0
tq=0
tp=0
tr=0
t=0
pt=0
#entrada
# hamburguesa
h=input("que tipo de hamburguesa quieres? (S,D,T)")

if h=="S" or h=="s":
    th=35
elif h=="d" or h=="D":
    th=45
elif h=="T" or h=="t":
    th=60
else:
    th="error"
#queso
q=input("Quieres queso? (si,no)")
if q=="Si" or q=="si" or q=="Sì":
    tq=10
else:
    tq=0
    
#papas
p=input("Quieres papas? (si,no)")
if p=="Si" or p=="si" or p=="Sì":
    tp=18
else:
    tp=0
    
#refresco
r=input("Quieres refresco? (si,no)")
if r=="Si" or r=="si" or r=="Sì":
    tr=20
else:
    tr=0 
    
#pago con tarjeta
t=input("Tu pago es con tarjeta? (si,no)")
if t=="Si" or t=="si" or t=="Sì":
    pt=(th+tq+tr+tp)*1.06
else:
    pt=th+tq+tr+tp

#salida
print("Tu pago total es de $",pt)

que tipo de hamburguesa quieres? (S,D,T)s
Quieres queso? (si,no)si
Quieres papas? (si,no)si
Quieres refresco? (si,no)si
Tu pago es con tarjeta? (si,no)no
Tu pago total es de $ 83

In [81]:
# procedimiento con listas
lh=["s","d","t","s","d","t","s","s","t","d","d","s","t","s","t","d","t","t","d","s"] 
lq=["si","si","no","si","no","no","no","no","si","no","si","si","no","si","no","no","no","no","si","no"] 
lp=["no","no","no","si","no","si","no","no","si","si","si","si","no","si","no","si","no","no","si","si"] 
lr=["si","no","no","si","si","no","no","si","no","si","no","no","si","no","si","no","no","si","no","si"] 
lt=["si","si","no","si","no","si","no","no","si","si","si","no","no","si","si","si","si","si","si","no"] 
lpt=[ ] 
i=0
ha=0
qu=0
re=0
pa=0
ta=0
while i<len(lh):
    if lh[i]=="s":
        ha=35
    elif lh[i]=="d":
        ha=45
    elif lh[i]=="t":
        ha=60
    else:
        ha="error"
    if lq[i]=="si":
        qu=10
    else:
        qu=0
    if lr[i]=="si":
        re=20
    else:
        re=0
    if lp[i]=="si":
        pa=18
    else:
        pa=0
    if lt[i]=="si":
        ta=(ha+qu+re+pa)*1.06
    else:
        ta=ha+qu+re+pa
    i=i+1
    lpt.append(ta)
print("los pagos totales son de",lpt,"pesos")

los pagos totales son de [68.9, 58.300000000000004, 60, 87.98, 65, 82.68, 35, 55, 93.28, 87.98, 77.38000000000001, 63, 80, 66.78, 84.80000000000001, 66.78, 63.6, 84.80000000000001, 77.38000000000001, 73] pesos

In [82]:
#función con variables
def hamburguesa(h1,q1,p1,r1,t1):
    th1=0
    tq1=0
    tp1=0
    tr1=0
    pt1=0
#hamburguesa    
    if h1=="s" or h1=="S":
        th1=35
    elif h1=="d" or h1=="D":
        th1=45
    elif h1=="t" or h1=="T":
        th1=60
    else:
        th1="error"
#queso        
    if q1=="Si" or q1=="si":
        tq1=10
    else:
        tq1=0
#papas       
    if p1=="Si" or p1=="si":
        tp1=18
    else:
        tp1=0
#refresco
    if r1=="Si" or r1=="si":
        tr1=20
    else:
        tr1=0
#pago con tarjeta
    if t1=="Si" or t1=="si":
        pt1=(th1+tq1+tp1+tr1)*1.06
    else:
        pt1=th1+tq1+tp1+tr1
        
    return("tu pago total es de",pt1,"pesos")

In [83]:
hamburguesa("s","no","no","si","no")

('tu pago total es de', 55, 'pesos')

In [84]:
#función con listas
def hamburguesa1(lh1,lq1,lp1,lr1,lt1):
    th2=0
    tq2=0
    tp2=0
    tr2=0
    pt2=0
    lpt=[]
    i=0
    
    while i<len(lh1):
        if lh1[i]=="s":
            th2=35
        elif lh1[i]=="d":
            th2=45
        elif lh1[i]=="t":
            th2=60
        else:
            th2="error"
        if lq1[i]=="si":
            tq2=10
        else:
            tq2=0
        if lp1[i]=="si":
            tp2=18
        else:
            tp2=0
        if lr1[i]=="si":
            tr2=20
        else:
            tr2=0
        if lt1[i]=="si":
            pt2=(th2+tq2+tp2+tr2)*1.06
        else:
            pt2=th2+tq2+tp2+tr2
        i=i+1
        lpt.append(pt2)
    return(lpt)

In [85]:
lh1=["s","d","t","s","d","t","s","s","t","d","d","s","t","s","t","d","t","t","d","s"] 
lq1=["si","si","no","si","no","no","no","no","si","no","si","si","no","si","no","no","no","no","si","no"] 
lp1=["no","no","no","si","no","si","no","no","si","si","si","si","no","si","no","si","no","no","si","si"] 
lr1=["si","no","no","si","si","no","no","si","no","si","no","no","si","no","si","no","no","si","no","si"] 
lt1=["si","si","no","si","no","si","no","no","si","si","si","no","no","si","si","si","si","si","si","no"] 
print("los precios totales son", hamburguesa1(lh1,lq1,lp1,lr1,lt1))

los precios totales son [68.9, 58.300000000000004, 60, 87.98, 65, 82.68, 35, 55, 93.28, 87.98, 77.38000000000001, 63, 80, 66.78, 84.80000000000001, 66.78, 63.6, 84.80000000000001, 77.38000000000001, 73]