# Ejercicios de Sets

## Ejercicio 1 

Define las siguientes palabras como un conjunto de sets. 
+ seudohermafroditismo
+ magnetohidrodinámica
+ electroencefalografista 
+ itam 
+ desproporcionadamente

In [3]:
set1=set("seudohermafroditismo")

In [4]:
set2=set("magnetohidrodinámica")

In [5]:
set3=set("electroencefalografista")

In [6]:
set4=set("itam")

In [7]:
set5=set("desproporcionadamente")

Imprime la palabra más chica

In [8]:
print(set4)

{'i', 't', 'm', 'a'}

Saca la intersección entre todas las palabras

In [9]:
set1.intersection(set2,set3,set4,set5)

{'a', 'i', 't'}

In [11]:
set1 & set2 & set3 & set4 & set5

{'a', 'i', 't'}

Saca la diferencia entre todas las palabras

In [10]:
set1.difference(set2,set3,set4,set5)

{'u'}

## Ejercicio 2

Define dos conjuntos sets con las siguientes características: 
- El conjunto "alpha" debe de tener una enumeración del 100 al 200.
- El conjunto "betha" debe de tener una enumeración del 100 al 200 en saltos de 2.

In [26]:
alpha=set(range (100,201))
print(alpha)

{100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200}

In [27]:
betha=set(range(100,200,2))
print(betha)

{128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126}

Saca la intersección de estos dos conjuntos

In [28]:
i = alpha.intersection(betha)
print(i)

{128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126}

Saca la diferencia de estos dos conjuntos

In [29]:
d =  alpha.difference(betha)
print(d)

{129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 200, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127}

Saca la intersección de estos dos últimos conjuntos

In [30]:
res = i.intersection(d)
print (res)

set()

## Ejercicio 3 

Dada la lista de colores inviertela y obten lo siguiente (agrupandolo correspondientemente a un conjunto de tipo set) :

colores = ["morado", "amarillo", "cafe", "negro", "blanco", "ázul" , "naranja", "gris", "verde", "rosa"]

1) La letra inicial de cada color

2) La letra final de cada color 

3) La tercera letra de cada color

In [58]:
colores = ["morado", "amarillo", "cafe", "negro", "blanco", "ázul" , "naranja", "gris", "verde", "rosa"]

In [59]:
colores.reverse()
print(colores)

['rosa', 'verde', 'gris', 'naranja', 'ázul', 'blanco', 'negro', 'cafe', 'amarillo', 'morado']

In [60]:
letrainicial=[pais[0] for pais in colores]
letrainicial = set(letrainicial)
print ( letrainicial)

{'r', 'g', 'á', 'm', 'b', 'v', 'c', 'n', 'a'}

In [61]:
letrafinal=[x[-1] for x in colores]
letrafinal = set(letrafinal)
print(letrafinal)

{'l', 'o', 's', 'e', 'a'}

In [62]:
terceraLetra=[x[2] for x in colores]
terceraLetra = set(terceraLetra)
print(terceraLetra)

{'u', 'r', 'g', 'i', 'f', 's', 'a'}

## Ejercicio 4 

A un alumno del ITAM le han proporcionado sus calificaciones parciales(primer examen, segundo examen, tercer examen, controles y examen final) por medio de dos listas diferentes y no sabe como obtener el resultado final. Ayuda al alumno por medio de dos métodos diferentes:
1) Agrupa las dos listas por medio de un zip.

2) Por medio de los índices de cada lista. 

NOTA: Tienes que comprobar que el tamaño de las dos listas es el mismo.

LISTAS:

In [63]:
calificaciones=[5,4.3,6,9,6]

In [64]:
ponderaciones=[0.20,0.20,0.20,0.10,0.30]

In [66]:
len(calificaciones) == len(ponderaciones)

True

In [67]:
## 1) 
a = [x*y for (x,y) in zip (calificaciones,ponderaciones)]
sum(a)

5.76

In [71]:
## 2)
calFinal=0
for n in range(0,len(calificaciones)):
    calFinal=calificaciones[n]*ponderaciones[n]+calFinal
print(calFinal)

5.76

## Ejercicio 5

In [74]:
informacion = {100:('Laura','Contaduria',2), 120:('Juan','Finanzas',5), 
               130:('Xime','Finanzas', 4), 125:('Rodrigo','Act', 2)}

In [75]:
informacion.values()

dict_values([('Laura', 'Contaduria', 2), ('Juan', 'Finanzas', 5), ('Xime', 'Finanzas', 4), ('Rodrigo', 'Act', 2)])

In [76]:
informacion.items()

dict_items([(100, ('Laura', 'Contaduria', 2)), (120, ('Juan', 'Finanzas', 5)), (130, ('Xime', 'Finanzas', 4)), (125, ('Rodrigo', 'Act', 2))])

In [77]:
informacion.keys()

dict_keys([100, 120, 130, 125])

In [78]:
informacion.get(109)

In [79]:
informacion.update({109:("Xime","Finansas",5)})
informacion.items()

dict_items([(100, ('Laura', 'Contaduria', 2)), (120, ('Juan', 'Finanzas', 5)), (130, ('Xime', 'Finanzas', 4)), (125, ('Rodrigo', 'Act', 2)), (109, ('Xime', 'Finansas', 5))])

In [80]:
{type(x) for x in informacion.items()}

{tuple}

In [81]:
{(x[0], x[1][2]) for x in informacion.items()}

{(100, 2), (109, 5), (120, 5), (125, 2), (130, 4)}

In [82]:
{x[1][1] for x in informacion.items()}

{'Act', 'Contaduria', 'Finansas', 'Finanzas'}

## Ejercicio 5

El sistema de una escuela ha decidido cambiar la forma de almacenar los datos de sus alumnos inscritos y ha decidido ocupar diccionarios en python. Es por eso que nos han encargado iniciar el diseño que debe incluir : clave, nombre, apellido, edad. 
Da de alta un alumno con los siguientes datos : Fernanda Calderón 18 años y clave 1402.

Da de alta e imprime los elementos del alumno

In [88]:
alumno1= {'clave':1402, 'nombre':'Fernanda', 'apellido':'Calderón', 'edad': 18}
alumno1.items()

dict_items([('clave', 1402), ('nombre', 'Fernanda'), ('apellido', 'Calderón'), ('edad', 18)])

Imprime las llaves primarias

In [89]:
alumno1.keys()

dict_keys(['clave', 'nombre', 'apellido', 'edad'])

Imprime los valores de tu diccionario

In [90]:
alumno1.values()

dict_values([1402, 'Fernanda', 'Calderón', 18])

Cambia la edad de la alumna por 20 años

In [91]:
alumno1['edad']=20
alumno1.items()

dict_items([('clave', 1402), ('nombre', 'Fernanda'), ('apellido', 'Calderón'), ('edad', 20)])

## Ejercicio 6

Escribe un programa que pase a mayúsculas la "clave" del siguiente diccionario  
dic={"hca":10,"eco":9,"cálculo":9,"redacción":8}

In [93]:
dic={"hca":10,"eco":9,"cálculo":9,"redacción":8}
a=[x.capitalize() for x in dic]
print(a)

['Hca', 'Eco', 'Cálculo', 'Redacción']

## Ejercicio 7

Escribe un programa que multiplique por dos el valor del siguiente diccionario  
d7={"peras":12,"manzanas":35,"uvas":39,"platanos":12}

In [94]:
d7={"peras":12,"manzanas":35,"uvas":39,"platanos":12}

In [95]:
[x*2 for x in d7.values()]

[24, 70, 78, 24]

## Ejercicio 8

Considera los siguientes tres conjuntos de números enteros, positivos, menores a 10,000:
* los múltiplos de 9,

{9,18,27,...,9999}

* los múltiplos de 11,

{11,22,33,44,...9999}

* los múltiplos de 7,

{7,14,21,28,...9996}
  
Genera los elementos de los conjuntos descritos y asigna nombres apropiados que
identifiquen cada conjunto. 
  
* Con los conjuntos definidos anteriormente y operaciones apropiadas contesta lo siguiente:  
  
a) Encuentra el conjunto de los números que a la vez son múltiplos de 9 y 11, pero que no son múltiplos de 7 (un elemento de este conjunto es el número 99) y responde, ¿Cuántos elementos tiene el conjunto encontrado?

b) Encuentra el conjunto de los números que a la vez son múltiplos de 11 y 7, pero que no son múltiplos de 9 (un elemento de este conjunto es el número 77) y responde, ¿Cuántos elementos tiene el conjunto encontrado?

c) Encuentra el conjunto de los números que a la vez son múltiplos de 9 y 7, pero que no son múltiplos de 11 (un elemento de este conjunto es el número 63) y responde, ¿Cuántos elementos tiene el conjunto encontrado?

In [1]:
conj9= set(range(9,10000,9))
conj11=set(range(11,10000,11))
conj7=set(range(7,9997,7))

In [3]:
conj2=(conj7&conj9)-conj11
len(conj2)

144

## Ejercicio 9