Dado el número (10110)2 en base 2 conviértelo al sistema decimal, en base 10. Crea una función que convierta un número arbitrario en base 2 a decimal.

In [23]:
def decimalabinario (x):
    resultado=[]
    while x>0:
            
            resultado.append(x%2)
            
            x=int(x/2)
    resultado.reverse()
    return resultado

In [24]:
decimalabinario(70)

[1, 0, 0, 0, 1, 1, 0]

Un número de Armstrong también conocido como narcisista es un número que es igual a la suma de los
cubos de sus dígitos. Por ejemplo 370 es un numero de Armstrong porque 370 = 27 + 343 + 0. El 407 es otro
ejemplo de número narcisista. Crea una función lógica que reciba un número y determine si es o no número
de Armstrong.

In [27]:
def armstrong (x):
    res=0
    for i in range(0, len(str(x))):
        res=res+int(str(x)[i])**3
    if(res==x):
        return True
    else:
        return False

In [32]:
armstrong(372)

False

24. ¿Cuál es el conjunto de los números enteros entre 1 y 10,000 que son iguales al cubo de un número entero?
Entre estos números ¿Cuáles son divisibles entre 13? (¿Podría responder estas preguntas para los números entre 1 y 1,000,000?)

In [14]:
y=[y for y in range(0,10000,1)]
setu=set(y)
x=[x**3 for x in range(0,10000,1)]
seta=set(x)
l=[l for l in range (0,10000,13)]
seto=set(l)
resultado=seta.intersection(setu)
resultadob=resultado.intersection(seto)
print(resultado)
print(resultadob)

{0, 1, 512, 4096, 8, 2197, 27, 9261, 3375, 4913, 1331, 2744, 64, 1728, 8000, 5832, 6859, 343, 216, 729, 1000, 125}
{0, 2197}

25. Se dice que en el siglo VI a.c., el inventor del juego de ajedrez ofreció a su monarca este juego y como recompensa le pidió los granos de trigo que resultaran de la siguiente prescripción: un grano por la primera casilla del tablero, dos granos por la segunda casilla, cuatro granos por la tercera casilla, ocho granos por la cuarta, dieciséis granos por la quinta, y así sucesivamente hasta terminar con la casilla número 64 (el tablero del juego de ajedrez tiene 64 casillas). Observando que el número de granos pedidos por una casilla, a partir de la segunda, es igual al doble de los granos pedidos por la casilla anterior. El monarca, un poco molesto por lo que le pareció una cantidad insignificante de granos que el inventor solicitaba, pidió a sus calculistas determinaran la cantidad total de granos de trigo, se trajera ésta de los graneros del reino y de inmediato se le entregara al inventor.

In [21]:
resultado=[2**n for n in range(1,64,1)]

In [23]:
print(resultado)
sum(resultado)

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288, 1048576, 2097152, 4194304, 8388608, 16777216, 33554432, 67108864, 134217728, 268435456, 536870912, 1073741824, 2147483648, 4294967296, 8589934592, 17179869184, 34359738368, 68719476736, 137438953472, 274877906944, 549755813888, 1099511627776, 2199023255552, 4398046511104, 8796093022208, 17592186044416, 35184372088832, 70368744177664, 140737488355328, 281474976710656, 562949953421312, 1125899906842624, 2251799813685248, 4503599627370496, 9007199254740992, 18014398509481984, 36028797018963968, 72057594037927936, 144115188075855872, 288230376151711744, 576460752303423488, 1152921504606846976, 2305843009213693952, 4611686018427387904, 9223372036854775808]

18446744073709551614

n bebé midió al nacer 42 centímetros. Durante los siguientes años de vida la estatura aumentó de la siguiente manera:
-en el primer año, la estatura se incrementó 24 %;
-en el segundo año, la estatura se incrementó 20 %;
-en el tercer año, la estatura se incrementó 14 %; -en el cuarto año, la estatura se incrementó 13 %; -en el quinto año, la estatura se incrementó 10 %; -en el sexto año, la estatura se incrementó 9 %;
-y en el séptimo año, se dio un estirón, pues la estatura se incrementó 12 %. ¿Cuánto mide el nene después de siete años de vida?

In [25]:
inicial=42
año1=inicial*1.24
año2=año1*1.20
año3=año2*1.14
año4=año3*1.13
año5=año4*1.10
año6=año5*1.09
año7=año6*1.12
print(año7)

108.11170640793601