In [ ]:
 Salomon Romero 183764

## 17. Elabora una función que calcule el factorial de un número entero no negativo, calculaFactorial(n) calcula y regresa el factorial de n (con n  0).

In [25]:
def factorial (n):
    factorial=1
    for x in range(1,n+1,1):
        factorial=factorial*x
    return factorial

In [29]:
factorial(factorial(3))

720

In [30]:
factorial(6)

720

In [31]:
factorial(3)

6

## 19. Progresiones. Para las sucesiones numéricas sugeridas a continuación, genere listas de 40 valores y asígne un nombre o identificador a cada una. Los valores deben mostrarse en notación entera o decimal, según sea el caso.
a. 2, 4, 6, 8, ...,78, 80
b. 3, 5, 7, 9, 11, 13, ...
c. 0.25, 0.5, 0.75, 1.0, 1.25, 1.5, ...
d. 1, 4, 9, 16, 25, 36, ...
e. 1, 2, 4, 8, 16, 32, ...
f. 1, -2, 4, -8, 16, -32, ...
g. 0.25, 1.25, 6.25, 31.25, 156.25, 781.25, ...

In [41]:
a=[x for x in range(2,81,2)]

In [43]:
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80]

In [47]:
b=[x for x in range(3,83,2)]

In [48]:
print(b)
print(len(b))

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81]
40

In [57]:
c=[x*0.25 for x in range(1,41,1)]

In [58]:
print(c)
print(len(c))

[0.25, 0.5, 0.75, 1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5, 2.75, 3.0, 3.25, 3.5, 3.75, 4.0, 4.25, 4.5, 4.75, 5.0, 5.25, 5.5, 5.75, 6.0, 6.25, 6.5, 6.75, 7.0, 7.25, 7.5, 7.75, 8.0, 8.25, 8.5, 8.75, 9.0, 9.25, 9.5, 9.75, 10.0]
40

In [85]:
d=[x*x for x in range(1,41,1)]

In [86]:
print(d)
print(len(d))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600]
40

In [91]:
e=[2**x for x in range(0,40,1)]
print(len(e))

40

In [92]:
print(e)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288, 1048576, 2097152, 4194304, 8388608, 16777216, 33554432, 67108864, 134217728, 268435456, 536870912, 1073741824, 2147483648, 4294967296, 8589934592, 17179869184, 34359738368, 68719476736, 137438953472, 274877906944, 549755813888]

In [95]:
f=[(2**x)*((-1)**x) for x in range(0,40,1)]
print(f)
print(len(f))

[1, -2, 4, -8, 16, -32, 64, -128, 256, -512, 1024, -2048, 4096, -8192, 16384, -32768, 65536, -131072, 262144, -524288, 1048576, -2097152, 4194304, -8388608, 16777216, -33554432, 67108864, -134217728, 268435456, -536870912, 1073741824, -2147483648, 4294967296, -8589934592, 17179869184, -34359738368, 68719476736, -137438953472, 274877906944, -549755813888]
40

In [96]:
g=[(5**x)/4 for x in range(0,40,1)]

In [97]:
print(g)
print(len(g))

[0.25, 1.25, 6.25, 31.25, 156.25, 781.25, 3906.25, 19531.25, 97656.25, 488281.25, 2441406.25, 12207031.25, 61035156.25, 305175781.25, 1525878906.25, 7629394531.25, 38146972656.25, 190734863281.25, 953674316406.25, 4768371582031.25, 23841857910156.25, 119209289550781.25, 596046447753906.2, 2980232238769531.0, 1.4901161193847656e+16, 7.450580596923829e+16, 3.725290298461914e+17, 1.862645149230957e+18, 9.313225746154785e+18, 4.656612873077392e+19, 2.3283064365386963e+20, 1.1641532182693481e+21, 5.820766091346741e+21, 2.91038304567337e+22, 1.4551915228366851e+23, 7.275957614183426e+23, 3.637978807091713e+24, 1.8189894035458564e+25, 9.094947017729282e+25, 4.547473508864641e+26]
40

## 21. La lista del mercado. Se tiene una lista de productos que se vende en un mercado: 
frutas=[‘peras’, ‘naranjas’, ‘papaya’, ‘ciruelas’, ‘manzanas’, ‘chicozapotes’, ‘uvas’, ‘mandarinas’]
Los precios por kilogramo de los productos del mercado, según el orden dado en la lista de 'frutas', son
los siguientes:
precios= [31.50,8.50,15.40,25.30,18.80,32.20,21.40,6.50]
Si un cliente compra las siguientes cantidades de productos en kilogramos, según el orden dado en la
lista de 'frutas' ,
compras= [1,3,3.50,0,2,2,1.5,0]
¿Cuánto debe pagar el cliente en total?

In [99]:
precios= [31.50,8.50,15.40,25.30,18.80,32.20,21.40,6.50]
compras= [1,3,3.50,0,2,2,1.5,0]
listamercado=[p*c for p,c in zip(precios,compras)]

In [100]:
listamercado

[31.5, 25.5, 53.9, 0.0, 37.6, 64.4, 32.099999999999994, 0.0]

In [103]:
totalapagar=sum(listamercado)
print(totalapagar)

245.0