<img src="../../files/logo.png" width=200>

# Diccionarios y Conjuntos

## Diccionarios { }  `dict`

Hasta el momento hemos visto colecciones de elementos ordenados por un único índice número y numerado. Ahora veremos otra clase de objetos, los **diccionarios**, los cuáles son listas asociativas indexadas por llave; no por orden.

La sintáxis de un diccionario:
```python
{llave1: valor1,
 llave2: valor2,
 ...
 llaven: valorn}
```

In [2]:
alumnos = [
    ["José", 11, "rojo", "Administración"],
    ["Charlie", 33, "Violeta", "Actuaría"],
    ["Luis", 23, "Negro", "Matemáticas"],
    ["Johanna", 18, "Gris", "Actuaría"]
]

### ¿Por qué usaríamos un diccionario y no una lista?:
Un diccionario de personas

In [3]:
alumnos[2][1]

23

In [2]:
alumnos = {
    "José":    [11, "rojo", "Administración"],
    "Charlie": [33, "Violeta", "Ingeniería"],
    "Luis": [23, "Negro", "Matemáticas"],
    "Johanna": {
        "edad": 18,
        "color": "Gris",
        "Lic": "Actuaria"
    }
}
alumnos

{'José': [11, 'rojo', 'Administración'],
 'Charlie': [33, 'Violeta', 'Ingeniería'],
 'Luis': [23, 'Negro', 'Matemáticas'],
 'Johanna': [18, 'Gris', 'Finanzas']}

In [1]:
alumnos["Johanna"]["color"]

NameError: name 'alumnos' is not defined

In [3]:
type(alumnos)

dict

In [5]:
del alumnos["Luis"]
alumnos

{'José': [11, 'rojo', 'Administración'],
 'Charlie': [33, 'Violeta', 'Ingeniería'],
 'Johanna': [18, 'Gris', 'Finanzas']}

Agregamos un elemento a un diccionario indexándolo sobre la llave de referencia y asignandole el valor deseado.

In [6]:
alumnos["Gerardo"] = [23, "vino", "Actuaría"]
alumnos

{'José': [11, 'rojo', 'Administración'],
 'Charlie': [33, 'Violeta', 'Ingeniería'],
 'Johanna': [18, 'Gris', 'Finanzas'],
 'Gerardo': [23, 'vino', 'Actuaría']}

### Métodos dentro de un diccionario

* **clear()**. Este método remueve todos los elementos del diccionario.
* **copy()** . Este método devuelve una copia del diccionario
* **get()** . Este método devuelve el valor en base a una coincidencia de búsqueda en un diccionario mediante una clave, de lo contrario devuelve el objeto None
* **items()**. Este método devuelve una lista de pares de diccionarios (clave, valor), como 2 tuplas.
* **pop()**. Este método remueve específicamente una clave de diccionario y devuelve valor correspondiente
* **keys()**. Este método devuelve una lista de las claves del diccionario
* **values()**. Este método devuelve una lista de los valores del diccionario
* **update()**. Este método actualiza un diccionario agregando los pares clave-valores

In [8]:
# Las llaves del diccionario
print(alumnos.keys())

dict_keys(['José', 'Charlie', 'Johanna', 'Gerardo'])

In [9]:
# Lista de tuplas con dos elementos. La primera llave el nombre y la segunda los valoresb
alumnos.items()

dict_items([('José', [11, 'rojo', 'Administración']), ('Charlie', [33, 'Violeta', 'Ingeniería']), ('Johanna', [18, 'Gris', 'Finanzas']), ('Gerardo', [23, 'vino', 'Actuaría'])])

## {Sets}

Un `set` (conjunto) es una colección no ordenada de valores únicos. Para dos conjuntos `A`, `B` y valores `a` dentro de `A` y `b` dentro de `B`, se cumplen con las siguientes características
* `A & B` (Intersección): Elementos en `A` y en `B`
* `A | B` (Unión): Elementos en `A` o en `B`
* `A - B` (Diferencia): Elementos en `A` no presentes en `B`
* `A ^ B` (Diferencia Simétrica): Elementos en cualquiera de los conjuntos `A` o `B`, mas no en los dos.
* `A <= B` (Subconjunto): Prueba si todos los elementos en `A` se encuentran dentro de `B`
* `A >= B` (Superconjunto): Prueba si todos los elementos en `B` se encuentran dentro de `A`

In [4]:
vocales = {'a', 'e', 'i', 'o', 'u'}
p1 = {'c', 'a', 'r', 'r', 'o'}

In [5]:
type(vocales)

set

In [15]:
p1 & vocales

{'a', 'o'}

In [16]:
p1.intersection(vocales)

{'a', 'o'}

In [13]:
p1 | vocales

{'a', 'c', 'e', 'i', 'o', 'r', 'u'}

In [17]:
p1.union(vocales)

{'a', 'c', 'e', 'i', 'o', 'r', 'u'}

In [14]:
p1 - vocales

{'c', 'r'}

In [18]:
p1.difference(vocales)

{'c', 'r'}

In [15]:
p1 ^ vocales

{'c', 'e', 'i', 'r', 'u'}

También se pueden construir tablas con los diccionarios.

In [1]:
dato1 =('Sandy','Diego','Laura')
dato2 = (18, 20, 18)
dato3 = ('Eco', 'Conta', 'Eco')
tabla = {'nombre':dato1, 'edad':dato2, 'carrera': dato3}
print(tabla)

{'nombre': ('Sandy', 'Diego', 'Laura'), 'edad': (18, 20, 18), 'carrera': ('Eco', 'Conta', 'Eco')}

In [2]:
print(tabla["nombre"][0]) 
print(tabla["carrera"][0])
print(tabla["edad"][0])

Sandy
Eco
18

In [3]:
tabla.items()

dict_items([('nombre', ('Sandy', 'Diego', 'Laura')), ('edad', (18, 20, 18)), ('carrera', ('Eco', 'Conta', 'Eco'))])

In [4]:
tabla['nombre'][0], tabla['edad'][0], tabla['carrera'][0]

('Sandy', 18, 'Eco')

In [5]:
tabla.keys()

dict_keys(['nombre', 'edad', 'carrera'])

Otra forma más directa

In [6]:
dicc={'nombre':('Hugo','Paco','Luis','Ximena','Ari'),
      'edad':(18,16,18,23,19),
      'carrera':('Mate','Finanzas','Eco','Act','Act y Mate'),
      'semestre':(2,2,1,4,3)}

In [7]:
dicc['carrera'][0]

'Mate'

In [8]:
prueba= [i for i in dicc]   # muestra el nombre de las llaves
print(prueba)

['nombre', 'edad', 'carrera', 'semestre']

In [9]:
print([dicc[i] for i in dicc])  # muestra la informacion

[('Hugo', 'Paco', 'Luis', 'Ximena', 'Ari'), (18, 16, 18, 23, 19), ('Mate', 'Finanzas', 'Eco', 'Act', 'Act y Mate'), (2, 2, 1, 4, 3)]

## Ejercicio 1
Dados 3 strings, sepáralos y agrupalos en una lista para que después convertir cada uno en un conjunto diferente.
Al final compara el tamaño de la primera lista con el primer conjunto y así sucesivamente. Explica que pasa.

"naranja rojo azul amarillo naranja rojo" , "rosa azul rojo verde gris rosa morado", "naranja azul gris negro azul gris"

In [9]:
l1= "naranja rojo azul amarillo naranja rojo".split()
l2= "rosa azul rojo verde gris rosa morado".split()
l3= "naranja azul gris negro azul gris".split()

In [10]:
c1=set(l1) 
c2=set(l2)
c3=set(l3)

In [11]:
print(f"Tamaño de la lista 1: {len(l1)} y tamaño del conjunto 1: {len(c1)}") 
print(f"Tamaño de la lista 2: {len(l2)} y tamaño del conjunto 2: {len(c2)}") 
print(f"Tamaño de la lista 3: {len(l3)} y tamaño del conjunto 3: {len(c3)}")

Tamaño de la lista 1: 6 y tamaño del conjunto 1: 4
Tamaño de la lista 2: 7 y tamaño del conjunto 2: 6
Tamaño de la lista 3: 6 y tamaño del conjunto 3: 4

## Ejercicio 2 

Define dos conjuntos sets con las siguientes características: 
- El conjunto "gamma" debe de tener una enumeración del 1 al 200.
- El conjunto "theta" debe de tener una enumeración del 100 al 200 en saltos de 3.
- Saca la intersección de estos dos conjuntos
- Saca la diferencia de los dos conjuntos
- Saca la intersección de estos dos últimos conjuntos calculados

In [21]:
gamma=set(range (1,201))
theta=set(range(100,200,3))

In [23]:
i = gamma.intersection(theta)
d =  gamma.difference(theta)
res = i.intersection(d)